# 忽略模型權重檔
models/checkpoints/

# 忽略 Python 快取檔
__pycache__/
*.pyc

# 忽略日誌檔
logs/*.log

# 忽略結果檔
result/real_test/*.png
result/training/*.png

# 系統檔案
.DS_Store

# CHB_EEG/chb01/*.edf
# CHB_EEG/chb03/*.edf